PORT=5000
MONGO_URI=mongodb+srv://anithayenna11_db_user:<db_password>@iqac-cluster.gjwasgp.mongodb.net/?appName=iqac-cluster
DB_PASSWORD=4beV0Ex4AZMsZGpp
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=1d
